define service {
        use             ganglia-service
	name            {{SERVICE}}-{{HOSTNAME}}
	description	{{SERVICE}} Service Running
	check_command   check_ganglia_metric!{{SERVICE}}_service_running!notequal!'True'
	host_name	{{HOSTNAME}}
}

